{{ define "main" }}

<div class="thema-container">
  <div class="thema-header">
    <div class="row">
      <div class="col-md-12">
        <h1>Wissensnetz Graph</h1>
        <div class="thema-metadata"></div>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <div class="thema-content-layout">
    <div class="row">
      <div class="col-md-8">
        <article class="thema-content">
          {{ .Content }}
        </article>
      </div>
      <aside class="col-md-4">
        <div class="thema-sidebar"></div>
      </aside>
    </div>
  </div>
</div>

<script>
var D3_LOADED = false;
function loadD3AndEgoGraph() {
  if (D3_LOADED) return Promise.resolve();
  D3_LOADED = true;
  return new Promise(function(resolve, reject) {
    var d3Script = document.createElement('script');
    d3Script.src = '{{ "/js/vendor/d3.v7.min.js" | relURL }}';
    d3Script.onload = function() {
      var egoScript = document.createElement('script');
      egoScript.src = '{{ "/js/visualization/d3-ego-graph.js" | relURL }}';
      egoScript.onload = resolve;
      egoScript.onerror = reject;
      document.head.appendChild(egoScript);
    };
    d3Script.onerror = reject;
    document.head.appendChild(d3Script);
  });
}
</script>
<script src="{{ "/js/wissennetz-graph.js" | relURL }}?v=2"></script>

{{ end }}
