{{- $marketingAPI := "https://chemie-lernen.org/api/marketing" -}}

{{- if isset .Params "name" -}}
  {{- $metaTags := getJSON (printf "%s/meta/%s" $marketingAPI .Params.name) -}}

  {{- if and $metaTags (not $metaTags.error) -}}
    {{/* Basic Meta Tags */}}
    <meta name="description" content="{{ $metaTags.description }}">
    <meta name="keywords" content="{{ delimit $metaTags.keywords ", " }}">
    <link rel="canonical" href="{{ $metaTags.canonical }}">
    <meta name="robots" content="{{ $metaTags.robots }}">

    {{/* OpenGraph Tags */}}
    <meta property="og:title" content="{{ $metaTags.og.title }}">
    <meta property="og:description" content="{{ $metaTags.og.description }}">
    <meta property="og:type" content="{{ $metaTags.og.type }}">
    <meta property="og:url" content="{{ $metaTags.og.url }}">
    <meta property="og:image" content="{{ $metaTags.og.image }}">
    <meta property="og:locale" content="{{ $metaTags.og.locale }}">

    {{/* Twitter Card Tags */}}
    <meta name="twitter:card" content="{{ $metaTags.twitter.card }}">
    <meta name="twitter:title" content="{{ $metaTags.twitter.title }}">
    <meta name="twitter:description" content="{{ $metaTags.twitter.description }}">
    <meta name="twitter:image" content="{{ $metaTags.twitter.image }}">

    {{/* Article Tags */}}
    <meta property="article:author" content="{{ $metaTags.article.author }}">
    <meta property="article:section" content="{{ $metaTags.article.section }}">
    <meta property="article:published_time" content="{{ $metaTags.article.published_time }}">
    <meta property="article:modified_time" content="{{ $metaTags.article.modified_time }}">

    {{/* JSON-LD Schema Markup */}}
    <script type="application/ld+json">
    {{- $schema := getJSON (printf "%s/schema/%s?type=LearningResource" $marketingAPI .Params.name) | default "{}" -}}
    {{- $schema | safeJS -}}
    </script>
  {{- end -}}
{{- end -}}
